<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<p class="navbar-item">Project X</p>
		<a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div class="navbar-menu" id="navMenu">
		<a class="navbar-item is-active">Home</a>
		<a class="navbar-item">Page 2</a>
		<a class="navbar-item">Page 3</a>
	</div>
</nav>

<section class="section">
	<div class="container">
		<h1 class="title">Hello World</h1>
		<p class="subtitle">Template for Project <strong>X</strong>!</p>
	</div>
</section>